<div class="main-background">
  <div class="task-header">
    
    <div class="task-head-right">
      <h1 class="task">タスク一覧</h1>
      <h2><%= link_to '新規登録', "#" %></h2>
    </div>

    <div class="task-head-left">
      <h2><%= link_to 'トップへ戻る', root_path %></h2>
    </div>
  
  </div>
    <div class="table-title">
      <h2>タイトル</h2>
      <h2>投稿日</h2>
      <h2>締切日</h2>
      <div class="task-edit"> </div>
    </div>

    <div class="table-content">
      <h2>< task.title %></h2>
      <h2>< task.created_at %></h2>
      <h2>< @task.priority.name %></h2>
      <div class="task-edit">
        <p><%= link_to '編集', "#" %> </p>
        <p><%= link_to '削除', "#" %> </p>
      </div>
    </div>




</div>