<div class="side-bar-header">
  <div class="header-name">
    SchedMGT
  </div>
</div>

<div class="side-main">

  <div class="others">
    <div class="other-name">
      <%= link_to 'タスク', tasks_path %>
    </div>
  </div>
  <div class="others">
    <div class="other-name">
      <%= link_to 'メモ', memos_path %>
    </div>
  </div>
  <div class="others">
    <div class="other-name">
      <%= link_to '資料庫', storages_path %>
    </div>
  </div>
</div>

    