<div class="side-bar-header">
  <div class="header-name">
    MyCalendar
  </div>
</div>

<div class="side-main">

  <div class="others">
    <div class="other-name">
      <a href="#">タスク</a>
    </div>
  </div>
  <div class="others">
    <div class="other-name">
      <%= link_to 'メモ', memos_path %>
    </div>
  </div>
  <div class="others">
    <div class="other-name">
      <a href="#">資料庫</a>
    </div>
  </div>
</div>

    