<div class="main-background">
  <div class="task-header">
    <div class="task-head-right">
      <h1 class="task-title">資料登録</h1>
      <h2><%= link_to '資料一覧', storages_path %></h2>
    </div>
    <div class="task-head-left">
      <h2><%= link_to 'トップへ戻る', root_path %></h2>
    </div>
  </div>
  
  <%= render partial: 'form' %>

</div>