// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper {
  display: flex;
}

//サイドバー
.side-bar {
  background-color: #022b53;
  width:150px;
}

.side-bar-header {
  height: 100px;
  background-color: #0f3963;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  font-size: 20px;
  color: #FAFAFA;
  margin: auto;
  font-weight: bold;
}

.side-main {
  padding: 0 20px;
  // overflow: scroll;

}
.others {
  padding: 30px 0 30px;
}

.other-name a {
  text-decoration: none;
  color: white;
}
//---------------//

//メインカレンダー
.main {
  background-color: #FFFFFF;
  width: calc(100vw - 150px);
}

//メイン上部
.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(57, 57, 65);
}

.add-event {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.left-header {
  margin: auto 0;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border-radius:10% ;
  background: rgb(233, 243, 243);
  color: rgb(57, 57, 65);
  font-size: 20px;
  padding: 10px;
}
//---------------//

//メイン中部
.calendar-header {
  background-color: #FAFAFA;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
//---------------//

//--メイン下部--//
.main-footer {
  background-color: #DDDDDD;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//---------------//


// 詳細画面

.show-main {
  background: rgb(226, 226, 231);
  height: 100vh;
}

.show-title {
  font-size: 20px;
  border-bottom:3px solid #ccc;
  text-align:left;
  padding:10px 20px;

}

.show-footer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.footer-ed {
  display: flex;
}

.footer-ed p {
  padding-left: 20px;
}

.show-footer p a {
  text-decoration: none;
  cursor: pointer;
}

.TOPbtn {
  margin-right: 20px;
}

//---------------//

.edit-title {
  font-size: 20px;
  border-bottom:3px solid #ccc;
  text-align:left;
  padding:10px 20px;
}

.edit-form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}


.edit-submit {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0 10px;
  padding: 5px 20px;
  text-decoration: none;
  color: #0d0f0f;
  background: #ECECEC;
  transition: .1s;
  cursor: pointer;
}

.edit-submit:hover {
  background: #636363;
}

