// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// メモ トップ

.memo-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom:2px solid gray;
}

.memo-head-right {
  display: flex;
  align-items: center;
}

.memo-title {
  font-size: 30px;
  margin-right: 20px;
}

.memo-head-left {
  display: flex;
  align-items: center;
}

.table-memo-font-size {
  font-weight: bold;
  font-size: large;
}
.table-memo>ul {
  width: 97vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom:2px solid #ccc;
}
.table-memo>ul>li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // float: left;
  // width: 30%;
  position: relative;
}

.memo1 {
  width: 100px;
  margin-left: 20px;
}
.memo2 {
  width: 60%;
}
.memo3 {
  width: 50px;
  margin-right: 20px;
}

// .memo-content {} メモの内容
// .task-ed-btn {} メモ削除

//------------//

.edit-btn {
  padding: 0 0 0 10px;
}
