<div class="main-background">
  <div class="memo-header">
    <div class="memo-head-right">
      <h1 class="memo-title">メモ一覧</h1>
      <h2><%= link_to '新規メモ', new_memo_path %></h2>
    </div>
    <div class="memo-head-left">
      <h2><%= link_to 'トップへ戻る', root_path %></h2>
    </div>
  </div>

  <div class="memo-main">
    <div class="table-memo">
      <ul class="table-memo-font-size">
        <li class="memo1"><p>＜内容＞</p></li>
        <li class="memo2"><p></p></li>
      </ul>
    </div>
  
    <% @memos.reverse_each do |memo| %>
      <div class="table-memo">
        <ul>
          <li class="memo1"><p><%= memo.memo %></p></li>
          <li class="memo2"><p><%= link_to '削除', memo_path(memo.id), method: :delete %></p></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
